@charset "UTF-8";

header{
    background-color: darkgrey;
}
.caixa{
    
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
}
nav{
    position: absolute; 
    top:110px;
    right:0%;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

footer{
    text-align: center;
    background: url("bg.jpg");
    width: 100%;
    padding: 40px 0;
    
}
.copyright{
    color: white;
    padding: 40px 0;
    font-size: 13px 0;
    padding: 40px 0;
    
}
@media screen and (max-width: 480px){
    header, .caixa, nav, footer{
        width: auto;
        margin: auto;
        box-sizing: auto;
        position: relative;
        padding:0 0;

    }  
    }
    @media screen and (max-width: 480px){
        nav{
            position: relative;
            top:auto;
        }
    }
    @media screen and (max-width: 480px){nav{
        font-size: 16px;}
    }