@charset "UTF-8";

main {
    width: 940px;
    margin: 3% auto;  
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao{
    display: block;
    margin:0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
    margin-bottom:0 40px;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}
.tabela{
    margin: 20px 0 40px;
}
thead{
    background: darkgrey;
    color: white;
    font-weight: bold;
}
.th-tabela, .conteudo-tabela{
    border: 1px solid black;
    padding:8px 15px ;
}