@charset "UTF-8";
/** main{
    margin: 3% auto;
} **/
.body-home{
    font-family: 'Montserrat', sans-serif;
}

.banner{
    width: 100%;
    margin: auto;
   }
.principal{
    padding: 3em 0;
    background: linear-gradient(darkgrey, white);
    margin: 0% auto;
}   
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin:0 0 1em;
    clear: left;
   }
.utensilios p{
    margin: 3% auto;
   }
.utensilios strong{
    margin: 3% auto;
   }
.utensilios em{
       font-style: italic;
   }
.utensilios-img{
    width: 120px;
    float: left;
    margin:0 20px 20px 0;
}
.conteudo-beneficios{
width: 640px;
margin: o auto;
position: relative;
left: 27%;
}
.mapa{
    padding: 3em 0;
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    }
.imagem-beneficios{
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow:10px 10px 10px 0 black;
}
.imagem-beneficios:hover{
opacity: 0.3;
}
.lista-itens{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
} 
.itens{
    line-height:  1.5em;   
}
.itens:first-child{
    font-weight: bold;
}
.itens:before{
    content: " ★ ";
    }
.imagem-beneficios{
    width: 60%;
}
.video{
    width: 560px;
    margin: 2em auto;
}


@media screen and (max-width: 480px){
.principal, .utensilios, .mapa, .conteudo-beneficios{
    width: auto;
    padding: 0;    
}
.titulo-principal{
    padding: 40px 0 0 0;
}
.conteudo-beneficios, .utensilios p{
    width: auto;
    left: auto;
    margin: 1em;
}
.itens{
    font-size: 16px;
    padding: 2px;
}
.itens::before{content: none}
.imagem-beneficios{
    left: 0;
}
.video{
    border: 2em;
    width: auto;
    margin: 0;
}
}

@media screen and (max-width: 812px){
    .conteudo-beneficios{
     width: auto;
     margin: o 0;
     position:relative;
     left: 0%;
    }
 }