@charset "UTF-8";


.titulo-principal{
    margin-left: 22px;
}    
.banner {
    width: 100%;
   }
   .principal{
    background-color: darkgrey;
    padding: 30px;
}
.titulo-centralizado{
       text-align: center;
   }
#missao{
    font-size: 20px;
    text-align: center;
}
strong em{
    color: red;
}
.itens{
    font-style: italic;
}
.beneficios{
    background-color:white;
    padding: 20px;  
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imgbeneficios{
    width: 50%;
}
